* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffc8c825;
    color: rgb(30,30,30);    
    font-family: 'Open Sans', sans-serif;
}

h1 {    
    color: #3e4149; 
    font-family: 'Roboto', sans-serif;
    font-weight: 400;   
    font-size: 50px; 
}

p {
    color: #444f5a;
    font-weight: 400;
}

h2 {    
    color: #ff9999;  
    font-family: 'Roboto', sans-serif;
    font-weight: 300;      
}

button {
    padding: 10px;
    background-color: #ff9999;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px 0.5px #444f5a3f;
    font-weight: 700;
    color: #444f5a;
    width: 110px;
}

#banner {
    background-image: url("images/banner.jpg"), linear-gradient(rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%);
    background-size: cover;    
    padding: 150px 0;
    text-align: center;    
}
#banner h1 {
    padding-bottom: 15px;
}
 #banner p {
    padding-bottom: 15px;
 }

.card {
    padding: 50px;
    text-align: center;
}

#footer {
    background-color: #3e4149;  
    padding: 10px 0;  
    text-align: center;    
}

#footer p {
    color: #ffc8c8;
    padding: 8px;    
}

#footer a {
    font-size: 20px;
    color: #ff9999d5;
    font-weight: 700;
    text-decoration: none;
}

#footer a:hover {
    color: #ffc8c8;
}