body {
    background-color: #ffc8c825;
    color: rgb(30,30,30);    
    font-family: 'Open Sans', sans-serif;
}

h1 {    
    color: #3e4149; 
    font-family: 'Roboto', sans-serif;
    font-weight: 400;   
    font-size: 45px; 
}

p {
    color: #444f5a;
    font-weight: 400;
}

h2 {    
    color: #ff9999;  
    font-family: 'Roboto', sans-serif;
    font-weight: 300;      
}

a {
    color: #ff9999d5;
    font-weight: 700;
    text-decoration: none;
}

a:hover {    
    color: #3e4149; 
}

