.btn-medium {
    color: #999;
    border: 1px solid #999;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 0.6;
    padding: 10px 15px;        
}

.btn-medium:hover {
    color: #999;
    opacity: 1;
    text-decoration: none;    
}

.btn-google {
    color: #fff;
    background-color: #1a73e8;
    border-radius: 4px;
    letter-spacing: 0.25px;
    padding: 10px 15px;        
}

.btn-google:hover {
    color: #fff;
    text-decoration: none;
    opacity: 0.9;
}

.btn-treehouse {
    color:#6AD58B;
    border: 2px solid #6AD58B;
    border-radius: 4px;
    padding: 10px 15px;
    font-weight: bold;
}

.btn-treehouse:hover {
    text-decoration: none;
    color:#2fda65;    
}